################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyBankApplication/bin/Debug
/MyBankApplication/obj/Debug
